.is-style-fancy-heading {
    text-align: center;
    display: flex;
    margin: 1em 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.8em!important;
    line-height: 1em;
}

.is-style-fancy-heading:before, 
.is-style-fancy-heading:after {
    content: '';
    border-bottom: 1px solid #d31175;
    display: flex;
    height: 0.5em;
    margin: 0 0 0 20px;
    flex-grow: 1;
}

.is-style-fancy-heading:before {
    margin-right: 20px;
    margin-left: 0;
}

h2.is-style-fancy-heading {
    margin-top: 2em;
}